# Android
platforms/android/assets/www
platforms/android/bin/
platforms/android/gen/
platforms/android/res/xml/config.xml

# iOS
platforms/ios/build/
platforms/ios/CordovaLib/build/
platforms/ios/www
platforms/ios/MyPace/config.xml
platforms/ios/.staging

# Emulator logs
platforms/ios/cordova/console.log

platforms/
plugins/

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

.idea/
.sourcemaps/
.sass-cache/
.tmp/
.versions/
coverage/
node_modules/
tmp/
temp/
$RECYCLE.BIN/

Thumbs.db
UserInterfaceState.xcuserstate
.env
*.jks
*.keystore
*.apk
.env

# framework7
www/libs
www/fonts
